#root {
  height:100%;
  display: block;
}

.main {
  text-align: left;
  height:100%;
  width:920px;
  padding-left: 30px;
}

h2 small, h3 small {
  font-weight: normal !important;
  font-size: 13px;
}

.header {
  background-image: url("./panorama.png");
  height: 80px;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
}

.home {
  padding: 10px 15px;
  background-color: #fff;
}

.footer {
  font-size: 13px;
  padding-left: 15px;
  height: 30px;
  background-color: #fff;
}

.footer .badgesBackend {
  line-height: 15px;
  display: block;
  float: right;
  margin-right: 20px;
}

.projectTitle:hover {
  text-decoration: underline;
}

.projectTitle {
  cursor: pointer;
}

.projectTitle.selected {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}

.projectGroup {
  background-color: #fff;
}

.versionsHistory {
  display: block;
}

.link {
  cursor: pointer;
}

.customHr1 {
  font-weight: bold;
}

.customHr2,.customHr3 {
  color: #CCC;
}

.closeButton {
  font-weight: bold;
  cursor: pointer;
  color: #F00;
}

.closeButton:hover {
  color: #000;
}

.link:hover {
  text-decoration: underline;
}

.link.selected {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}

.list span {
  display: block;
}

table {
  border-spacing : 0;
  border-collapse : collapse;
}

th {
  border: #DDD solid 1px;
  background-color: #EEE;
  padding: 2px 5px;
}

td {
  border: #DDD solid 1px;
  padding: 2px 5px;
}

td.smallCellText {
  font-size: 13px;
}